@import "variables.scss";

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.comments_section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
