@import "variables.scss";

@mixin centered_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.layout_container {
  @include centered_col();
  padding: 40px 20px;
  width: 100vw;
}

.comments_section,
.replies_section {
  @include centered_col();
}

.replies_section {
  align-self: flex-end;
  padding-left: 10px;
  border-left: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.add_comment {
  width: 100%;
}

@media screen and (min-width: $tablet_max) {
  .layout_container {
    margin: auto;
    padding: 50px;
    width: 800px;
  }

  .replies_section {
    padding-left: 40px;
    margin-left: 50px;
  }
}
