<div class="white_space">
  <!-- this is for the reply slide down animation. Any margin/padding added anywhere else to create the gap would end with a snaping effect at the end of the animation. This works. Why? Who knows. 
   
  Probably because when the element is removed from the document, no padding/margin need to be recalculated and that was the whole problem. -->
</div>

<section class="comment_container">
  <div class="profile_picture">
    <img
      class="profile_picture__img"
      [src]="img_path + 'avatars/image-amyrobson.png'"
      alt=""
    />
  </div>

  <div class="comment_form">
    <textarea
      class="comment_form__textarea"
      id="comment_textarea"
      placeholder="Add a comment..."
    ></textarea>
  </div>

  <div class="send_btn">SEND</div>
</section>
