<section class="comment_container" [id]="comment.id">
  <div class="comment_votes">
    <div class="comment_votes__img_div" (click)="upvote_comment(comment.id)">
      <img
        class="comment_votes__upvote_icon"
        [src]="img_path + 'icon-plus.svg'"
        alt="upvote comment button"
      />
    </div>

    <div class="comment_votes__number">{{ comment.score }}</div>

    <div class="comment_votes__img_div" (click)="downvote_comment(comment.id)">
      <img
        class="comment_votes__downvote_icon"
        [src]="img_path + 'icon-minus.svg'"
        alt="downvote comment button"
      />
    </div>
  </div>

  <div class="comment_header">
    <div class="comment_header__profile_img_div">
      <img
        class="comment_header__profile_pic"
        [src]="img_path + comment.user.image.png"
        alt=""
      />
    </div>

    <p class="comment_header__profile_name">{{ comment.user.username }}</p>

    <p class="comment_header__comment_time">{{ comment.created_at }}</p>
  </div>

  <div class="comment_actions" *ngIf="!actions.edit">
    <div
      class="comment_reply_btn"
      *ngIf="!active_user"
      (click)="this.actions.reply = !this.actions.reply"
    >
      <div class="comment_reply_btn__img_div">
        <img [src]="img_path + 'icon-reply.svg'" alt="reply comment button" />
      </div>

      <p class="comment_reply_btn__text">Reply</p>
    </div>

    <div
      class="comment_delete_btn"
      *ngIf="active_user"
      (click)="remove_comment(comment.id)"
    >
      <div class="comment_delete_btn__img_div">
        <img [src]="img_path + 'icon-delete.svg'" alt="delete comment button" />
      </div>

      <span class="comment_delete_btn__text"> Delete </span>
    </div>

    <div
      class="comment_edit_btn"
      *ngIf="active_user"
      (click)="this.actions.edit = !this.actions.edit"
    >
      <div class="comment_edit_btn__img_div">
        <img [src]="img_path + 'icon-edit.svg'" alt="delete comment button" />
      </div>

      <span class="comment_edit_btn__text"> Edit </span>
    </div>
  </div>

  <div class="comment_text" *ngIf="!actions.edit" @item_fade>
    <span class="comment_text__reply_mention"> {{ reply_mention }} </span>
    {{ comment.content }}
  </div>

  <div class="comment_form" *ngIf="actions.edit" @item_fade>
    <textarea class="comment_form__textarea" id="updated_comment_content">{{
      comment.content
    }}</textarea>
  </div>

  <div
    class="edit_btn"
    *ngIf="actions.edit"
    (click)="update_comment(comment.id)"
  >
    UPDATE
  </div>
</section>

<section
  [id]="'reply' + comment.id"
  class="hidden_reply"
  @resize
  *ngIf="actions.reply"
>
  <app-add-comment
    @reply_move
    [reply_instance]="true"
    [comment_id]="comment.id"
    (finish_reply)="actions.reply = false"
  ></app-add-comment>
</section>
